body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/275/717/310/avengers-infinity-war-superheroes-cast-4k-8k-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}