p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bolder;
}
.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}